body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Quai_du_Louvre_1867%2C_by_Claude_Monet.jpg/1920px-Quai_du_Louvre_1867%2C_by_Claude_Monet.jpg') center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  box-sizing: border-box; 
}

h2 {
  text-align: center;
  color: #333;
  font-family: sans-serif;
  margin-top: 10px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  display: inline-block;
  padding: 10px 157px;
  background-color: #ffcc00;
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.login-button:hover {
  background-color: #e5b300;
}

.create-account {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.create-account p {
  margin: 0;
  color: #555;
}

.create-account a {
  color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
}

.create-account a:hover {
  text-decoration: underline;
}